@import '../../admin/admin-styles';

.description-cell {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-description {
  color: var(--text-secondary);
  font-style: italic;
  opacity: 0.7;
}
