<mat-card class="prescription-card">
    <mat-card-header>
<!--        <mat-card-title>{{ prescription.name }}</mat-card-title>-->
        <mat-card-subtitle>{{ prescription.courseOfAction }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p *ngIf="prescription.dosageInstructions"><strong>Dosage:</strong> {{ prescription.dosageInstructions }}</p>
        <p *ngIf="prescription.duration"><strong>Duration:</strong> {{ prescription.duration }}</p>

        <div class="medications-list">
            <div class="medication-item" *ngFor="let medication of prescription.medications; let i = index">
                <div class="medication-header">
                    <span class="medication-number">{{ i + 1 }}.</span>
                    <span class="medication-name" (click)="toggleMedicationInfo(medication)">{{ medication.name }}</span>
                    <span class="molecule-name" (click)="toggleMoleculeInfo(medication)">{{ medication.molecule }}</span>
                </div>
                <div class="posologie">
                    {{ medication.posologie }}
                </div>

                <div class="medication-info" *ngIf="selectedMedication === medication && showMedicationInfo">
                    <h4>Medication Information</h4>
                    <p>{{ medication.infosMedicament }}</p>
                </div>

                <div class="molecule-info" *ngIf="selectedMedication === medication && showMoleculeInfo">
                    <h4>Molecule Information</h4>
                    <p>{{ medication.infosMolecule }}</p>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
